.btn-toggle{
    position: absolute;
    top: 3rem;
    right: 39rem;
    border-radius: 50%;
    border:1px solid;
    width: 50px ;
    height: 50px ;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;

}
.dark-btn{
    background: #222;
    color:#f1f1f1;
}