
.container-about{
  display: flex;
  margin: 1rem 5vw;
  padding: 1rem 5vw;

}.navbar-about {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .navbar-about {
    display: flex;
  }
  
  .navbar-about {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
    text-decoration: none;
  }
  
  .navbar-about:hover {
    color: #817e8a;
  }
  .txt-about{
   
    font-size: 16px;
  
  }
 