.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    background-color: #fff;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-logo {
    font-size: 28px;
    font-weight: bold;
  }
  
  .navbar-links {
    display: flex;
  }
  
  .navbar-link {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
    text-decoration: none;
  }
  
  .navbar-link:hover {
    color: #817e8a;
  }
