*, ::before, ::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family:Arial, Helvetica, sans-serif
}

nav a {
  margin: 1rem;
  font-size: 16px;
  text-decoration: none;
}
.sub-nav {
  margin: 2rem;
}
h1,h2{
  margin: 2rem;
}
ul,li{
  margin: 1rem;
  list-style: none;
}
.txt{
  text-align: center;
  justify-content: center;
  font-size: 16px;

}
